<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Категории</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="credits" class="content-section-a">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Список категорий</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Название категории</th>
                          <th>Язык</th>
                          <th>Упорядовачивание</th>
                          <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% _.forEach(lists, function(list, _i) { %>
                          <tr>
                            <th class="category_id" category_id ="<%= list.id %>" scope="row"><%= _i + 1 %></th>
                            <td class="name"><%= list.name %></td>
                            <td class="lang"><%= list.lang %></td>
                            <td class="order"><%= list.order %></td>
                            <th class="edit_cat">
                              <a href="#"><i class="fa fa-wrench"></i></a>
                              <a href="#"><i class="fa red fa-close"></i></a>
                            </th>
                          </tr>
                        <% })%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Добавление / Редактирование</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <br />
                      <form id="category_form" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Название<span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="name" id="name" required="required" class="form-control col-md-7 col-xs-12">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">Язык</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input checked type="radio" name="lang" value="ru"> Русский
                              </label>
                              <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="lang" value="en"> Английский
                              </label>
                              <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="lang" value="cn"> Китайский
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">Упорядовчивание
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="order" name="order" value="1" class="date-picker form-control col-md-7 col-xs-12" required="required" type="number">
                          </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a href="#" id="reset" class="btn btn-primary">Отмена</a>
                            <button id="submit" type="submit" class="btn btn-success">Сохранить</button>
                          </div>
                        </div>
                        <input type="hidden" value="0" name="is_edit">
                        <input type="hidden" value="0" name="id">
                      </form>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
window.onload=function() {
  function setDefault() {
    $('input:checked').parent().removeClass('active');
    $('input:checked').removeAttr('checked');
    $("input[name='is_edit']").val(0);

    $("input[name='lang']").each(function (index) {
        if($(this).val() == 'ru'){
          $(this).parent().addClass('active');
          $(this).attr('checked', true);
        }
    });
    $("input[name='name']").val('');
    $("input[name='order']").val(1);
    $("#submit").text('Сохранить')
  }

  $('#reset').click(function () {
      setDefault();
    return false;
  });

  function getTrVal(elem, cl) {
    return elem.find(cl).text();
  };

  $('.edit_cat').click(function () {
    $('input:checked').parent().removeClass('active');
    $('input:checked').removeAttr('checked');

    var category_tr = $(this).parent();
    $("input[name='id']").val(category_tr.find('.category_id').attr('category_id'));
    $("input[name='is_edit']").val(1);

    $("input[name='lang']").each(function (index) {
      if($(this).val() == category_tr.find('.lang').text()){
        $(this).parent().addClass('active');
        $(this).attr('checked', true);
      }
    });
    $("input[name='name']").val(getTrVal(category_tr, '.name'));
    $("input[name='order']").val(getTrVal(category_tr, '.order'));
    $("#submit").text('Обновить');

    return false;
  })

  function successNotify(text){
    new PNotify({
      title: 'Ура',
      text: text,
      type: 'success',
      styling: 'bootstrap3'
    });
  }
  $('#category_form').submit(function () {
    var is_edit = $("input[name='is_edit']").val()
    var url = is_edit=='0'?'/lessonscategory/create':'/lessonscategory/'+$("input[name='id']").val();
    $.ajax({
      type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
      url         : url, // the url where we want to POST
      data        : $(this).serialize(), // our data object
      success     : function (data) {
        setDefault();
        var stext = is_edit=='0'?'Категория добавлена':'Обновление прошло успешно!';
        successNotify(stext);
      }
    });
    return false;
  });

}
</script>